<html>
<head>
<title>Rails OpenID Example Relying Party</title>
</head>
  <style type="text/css">
      * {
        font-family: verdana,sans-serif;
      }
      body {
        width: 50em;
        margin: 1em;
      }
      div {
        padding: .5em;
      }
      .alert {
        border: 1px solid #e7dc2b;
        background: #fff888;
      }
      .error {
        border: 1px solid #ff0000;
        background: #ffaaaa;
      }
      .success {
        border: 1px solid #00ff00;
        background: #aaffaa;
      }
      #verify-form {
        border: 1px solid #777777;
        background: #dddddd;
        margin-top: 1em;
        padding-bottom: 0em;
      }
      input.openid {
        background: url( /images/openid_login_bg.gif ) no-repeat;
        background-position: 0 50%;
        background-color: #fff;
        padding-left: 18px;
      }
  </style>
  <body>
    <h1>Rails OpenID Example Relying Party</h1>
    <% if flash[:alert] %>
      <div class='alert'>
       <%= h(flash[:alert]) %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class='error'>
       <%= h(flash[:error]) %>
      </div>
    <% end %>
    <% if flash[:success] %>
      <div class='success'>
       <%= h(flash[:success]) %>
      </div>
    <% end %>
    <% if flash[:ax_results] %>
      <div class='alert'>
      <%= raw(flash[:ax_results]) %>
      </div>
    <% end %>
    <% if flash[:sreg_results] %>
      <div class='alert'>
      <%= raw(flash[:sreg_results]) %>
      </div>
    <% end %>
    <% if flash[:pape_results] %>
      <div class='alert'>
      <%= flash[:pape_results] %>
      </div>
    <% end %>
    <%= javascript_tag("function identifierChanged() {$(openid_identifier)[0].value = $(openid_identifier_select).find(\":selected\")[0].value; return true;}") %>    
    
    <%= form_tag({:action => 'start'}, :method => 'get') do %>
    <div id="verify-form">
    
        <%= label("openid_identifier", "Provider") %> 
        <%= select_tag("openid_identifier_select", options_for_select(@providers), :onchange => 'identifierChanged()') %>
        <%= url_field_tag("openid_identifier", @providers["Google"], :size => 50) %>
        <%= submit_tag("Verify") %><br/>
        <%= check_box_tag("use_ax") %><%= label_tag("use_ax","Use Attribute Exchange (e.g. Fetch Email Address)") %><br/>
        <%= check_box_tag("immediate") %><%= label_tag("immediate", "Use immediate mode") %><br>
        <%= check_box_tag("use_sreg") %><%= label_tag("use_sreg", "Request registration data") %><br>
        <%= check_box_tag("use_pape") %><%= label_tag("use_pape", "Request phishing-resistent auth policy (PAPE)") %><br>
        <%= check_box_tag("force_post") %><%= label_tag("force_post", "Force the transaction to use POST by adding 2K of extra data") %><br>
    </div>
	<% end %>
  </body>
</html>
